*{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	color: white;
	font-family: 'Poiret One', cursive;
}


/*Personalizacion del Scroll*/
::-webkit-scrollbar-track{ background-color: #080808; }

::-webkit-scrollbar{ width: 6px; }

::-webkit-scrollbar-thumb{
	background-color: #fff;
	border-radius: 10px;
}

/*Poiret One font*/
@font-face {
	font-family: 'Poiret one';
	src: url('../fonts/PoiretOne-Regular.ttf') format('truetype');
}


/*Icomoon Fonts*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6em6h7');
  src:  url('../fonts/icomoon.eot?6em6h7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6em6h7') format('truetype'),
    url('../fonts/icomoon.woff?6em6h7') format('woff'),
    url('../fonts/icomoon.svg?6em6h7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message-square:before { content: "\e90d"; }
.icon-chevron-down:before { content: "\e90c"; }
.icon-code:before { content: "\e900"; }
.icon-facebook:before { content: "\e901"; }
.icon-github:before { content: "\e902"; }
.icon-instagram:before { content: "\e903"; }
.icon-layout:before { content: "\e904"; }
.icon-linkedin:before { content: "\e905"; }
.icon-mail:before { content: "\e906"; }
.icon-maximize-2:before { content: "\e907"; }
.icon-menu:before { content: "\e908"; }
.icon-minus:before { content: "\e909"; }
.icon-monitor:before { content: "\e90a"; }
.icon-smartphone:before { content: "\e90b"; }


/*Clases Generales de uso multiple*/
body{
	background-color: #080808;
	font-size: 16px;
}

h1,h2,h3,h4{ font-size: 50px; }

section{
	width: 100%;
	height: 100vh;
	display: block;
}

.top_margin{ margin-top: 20px; }

.top_margin_section{ margin-top: 20vh; }

.center{ text-align: center; }

.cover{
    background-repeat: no-repeat;
    background-size: cover;
}

.black{ color: black; }

.paragraph{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 27px;
}

.text_decoration_none{
	text-decoration: none;
}

.section_adaptive{
	height: auto;
	padding-bottom: 20vh;
}

.color{ background-color: red; }

.container{
	width: 100%;
	height: auto;
	margin-top: 40px; 
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}

/*Pantalla de carga*/
.preload{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #1c1c1c;
	z-index: 2;
}

.mark-box{
	padding-top: 20px; 
	width: auto;
	height: 15vh;
	margin-top: 40vh;
	text-align: center;
}

.orbe{
	display: inline-block;
	border-radius: 50%;
	background-color: white;
	animation-name: popit;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-direction: alternate;
}

.one{ animation-delay: .5s; }
.two{ animation-delay: 1s; }
.three{ animation-delay: 1.5s; animation-duration: 1s}


/*Seccion 1*/
.redimension_img{
	margin-top: 5vh;
	width: 15em;
	border-radius: 50%;
	box-shadow: 0px 0px 100px black;
	z-index: 3;
}

.cdefine_1{ background-image: url(../images/minimal-min.png); }

.slogan{ font-size: 21px; }

.button{
	font-size: 50px;
	cursor: pointer;
}


/*Seccion 3*/
.box{
	overflow: hidden;
	width: 400px;
	height: auto;
	margin: 15px;
	transition: .5s;
	cursor: pointer;
	background-image: url(../images/eclipse.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.box img{
	width: 100%;
	height: 100%;
}

.box:hover{
	box-shadow: 0 0 15px white;
	transition: .5s;
}


/*Seccion 4*/
.cards{
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article{
	margin: 0;
	padding: 0;
}

.card{
	display: inline-flex;
	width: 400px;
	height: 500px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 2s;
}

.card:hover .information{
	transform: translateY(100px);
	transition: .5s;
}

.shadow{
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 0px;
    opacity: 1;
    transition: background 2s;
    overflow: hidden;
}

.shadow:hover{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}

.date{
	width: 100%;
	height: auto;
}

.date p{
	float: left;
	font-size: 13px;
	padding: 15px;
	text-shadow: 2px 2px 2px black;
}

.information{
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
	text-align: left;
	transform: translateY(380px);
	transition: .8s;
}

.information h3{
    width: 100%;
    height: auto;
    font-size: 40px;
    z-index: 3px;
    padding-left: 20px;
}

.description{
	width: 95%;
	height: auto;
	font-size: 22px;
	text-align: left;
    transform: translateY(50px);
    padding-left: 20px;
}

.watch{
	width: 50px;
    text-align: center;
    color: black;
    background-color: white;
    padding: 5px 0 5px 0;
    margin: auto;
    transform: translateY(100px);
}

.cover_card_1{
	background-image: url(../images/mediaweb-min.png);
}

.cover_card_2{
	background-image: url(../images/stranger-things-bicycle-lights-children.jpg);
}

.cover_card_3{
	background-image: url(../images/minimal-min.png);
}

/*Footer*/
footer{
	width: 100%;
	height: auto;
	padding-bottom: 20px;
	background: #f2f2f2;
}

footer div{
	font-size: 30px;
	display: inline-flex;
	width: 80px;
}

.redimension_img_footer{
	margin-top: 5vh;
	padding: 5px;
	border-radius: 50%;
}

/*Animaciones*/
@keyframes popit{
	0%{
        width: 10px;
        height: 10px;
	}
	100%{
        width: 20px;
        height: 20px;
        box-shadow: 0 0 20px white;
	}
}


/*Responsive Design*/
@media screen and (max-width: 1150px){
	.button{
		color: white;
	}
	.slogan{
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 890px){
    .redimension_img{
    	width: 12em;
    }
    .button{
		display: none;
	}
	.card{
		width: 350px;
	}

}

@media screen and (max-width: 500px){
    .responsive_text{
    	text-align: left;
    	margin-top: 30px;
    }
    footer div{
    	text-align: left;
    	width: auto;
    	margin: 5px;
    }
}